.language_tooltip {
    display: inline-block;
    position: absolute;
    border: 1px solid gray;
    background-color: #ffffd5;
    color: black;
    padding: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4);
    box-shadow: 0 1px 1px rgba(0,0,0,.4);
    z-index: 300;
}

.code_complete_text {
    background: #303130;
    border: 1px solid rgba(255,255,255,0.06);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.8), 1px 1px 0 black, -1px -1px 0 black;    
    width: 270px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
}
.dark .code_complete_text {/*TODO this doesn't work*/
    border-width: 0 2px 2px 2px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.7);
    border-color: rgba(255, 255, 255, .1);
}


.code_complete_doc_text .cc_complete_option.selected {
    text-shadow: none;
    overflow: auto;
    padding: 5px;
}

.code_complete_doc_text{
    width: 310px;
    overflow : auto;
    position: absolute;
    padding : 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 1000000;
    /*background-color: #748512;*/
    /*color: #f1f1f1;*/
    /*border-color: rgb(132, 146, 76);*/
    background-color: #636363;
    color: #FFFFFF;
    border-color: rgb(111, 111, 111);
    min-height: 100px;
    max-width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.8), 1px 1px 0 #000, -1px -1px 0 #000;
}

.code_complete_doc_body {
    
}

.code_complete_doc_head {
    text-decoration: underline;
}

.code_complete_doc_text {
    
}

.code_complete_doc_text u {
    text-decoration: none;
    color: blue;
    text-shadow: none;
}

.code_complete_text .ace_text-layer{
    left : 1px;
    right : 1px;
    width : auto;
    top : 1px;
    bottom : 1px;
}

.code_complete_text .ace_line{
    background : transparent;
    color : #666;
    
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    /*padding : 0 0 1px 0; */ /*todo requires special handling in ace*/
    pointer-events: auto;
    cursor : pointer;
    color : #f1f1f1;
}

.code_complete_text .ace_line .img {
    width: 8px;
    height: 8px;
    margin : 0 7px 0 5px;
    display : inline-block;
    border : 0 !important;
}
.code_complete_text .ace_line .deferred {
    opacity: .7;
}
.code_complete_text .ace_line .main u {
    /*font-weight: bold;*/
    text-decoration: none;
    color: #9FB814;
}
.code_complete_text.ace_no-bold .ace_line .main u {
    font-weight: normal;
    text-shadow: 0 0 0.01em;
}
.code_complete_text .ace_line.selected .main u {
    color: rgb(184, 206, 115) !important;
    text-decoration: underline;
    /*font-weight: bold;*/
    text-shadow: 0px 1px rgba(0,0,0,0.3);
}
.code_complete_text .ace_line .meta {
    opacity: .5;
    margin : 0 0 0 0;
}
.code_complete_text .ace_line-hover{
    background: #252525;
}
.code_complete_text .ace_line>span{
    padding : 0px 2px 0 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.code_complete_text .ace_line.selected{
    background: #748512;
}
.code_complete_text .ace_line.selected:hover{
}

.code_complete_text .ace_line.selected span{
    color : #f1f1f1;
}